.flex-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.todo-title {
    align-self: center;
    margin-bottom: 10px;
}

.todo-form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.todo-form input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.todo-form button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.todo-item {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.todo-item-checkbox {
    justify-content: flex-start;
}

.todo-item-title{
    flex-grow: 1;
    word-break: break-all;
}

.todo-item-buttons{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-self: flex-start;
}